/* ---------- INDEX ---------- */

/* Classes */

.header-row {
    padding-top: 10px;
    text-align: center;
}

/* ---------- OVERVIEW ----------*/

/* Classes */
.list-header {
    text-align: center;
    color: #333333;
    font-weight: lighter;
}

#title-resource {
    text-align: center;
    padding: 10px;
    font-weight: lighter;
}

/* ---------- TEAM TAGS ---------- */

/* Classes */
.rounded-circle {
    width: 200px;
    height: 200px;
}

/* IDs */
#bio {
    text-align: center;
    padding: 20px;
}

#bio-name {
    font-weight: lighter;
    padding: 10px;
}

#bio-info {
    font-weight: lighter;
}

/* --------- NAVBAR ---------  */
 
/* IDs */

#left-padding {
    padding-left: 50px;
}

/* ---------- GENERAL ---------- */

/* Classes */

.text-center {
    text-align: center;
}

.thin-text {
    font-weight: lighter;
}

.underline {
    text-decoration: underline;
}

.space {
    padding: 30px;
}

.body {
    height: 97%;
}

.svgcal {
    height: 2500;
    width: 300;
    width: 98%;
    
}

.center {
    padding: 15px;
}

.right {
    text-align: right;
}

.down {
    padding-top: 30px;
}

.less {
    padding-top: 25px;
}

/* PLACEHOLDER CSS */

.neg-padding {
    padding: -50px;
}

.grade {
    font-size: 70px;
}

/* .chart {
    background: #fff;
    margin: 5px;
  } */

/* GOOGLE CHARTS */
#series_chart_div {
    width: 700px; 
    height: 400px;
}

#donutchart {
    width: 800px;
    height:350px;
}
 
