/* ---------- INDEX ---------- */

/* Classes */

.header-row {
    padding-top: 10px;
    text-align: center;
}

/* IDs */
 
#deathBar {
    background-color: #910f06;
    padding: 5px;
    border-radius: 20px;
    border-style: solid;
}

#posBar {
    background-color: #d1870f;
    padding: 5px;
    border-radius: 20px;
    border-style: solid;
}

#hospBar {
    background-color: #002f75;
    padding: 5px;
    border-radius: 20px;
    border-style: solid;
}

#icuBar {
    background-color: #1e7821;
    padding: 5px;
    border-radius: 20px;
    border-style: solid;
}

#ventBar {
    background-color: #582e80;
    padding: 5px;
    border-radius: 20px;
    border-style: solid;
}

/* ---------- OVERVIEW ----------*/

/* Classes */
.list-header {
    text-align: center;
    color: #333333;
    font-weight: lighter;
}

#title-resource {
    text-align: center;
    padding: 10px;
    font-weight: lighter;
}

/* ---------- TEAM TAGS ---------- */

/* Classes */
.rounded-circle {
    width: 200px;
    height: 200px;
}

/* IDs */
#bio {
    text-align: center;
    padding: 20px;
}

#bio-name {
    font-weight: lighter;
    padding: 10px;
}

#bio-info {
    font-weight: lighter;
}

/* --------- NAVBAR ---------  */
 
/* IDs */

#left-padding {
    padding-left: 50px;
}

/* ---------- GENERAL ---------- */

/* Classes */

.shrink {
    height: 80%;
    width: 80%;
}

.text-center {
    text-align: center;
}

.thin-text {
    font-weight: lighter;
}

.white-text {
    color: white;
}

.underline {
    text-decoration: underline;
}

.space {
    padding: 30px;
}


.body {
    height: 97%;
  }

svg {
    height: 150%;
    width: 97%;
}

.pad {
    padding:25px;
}
.center {
    padding: 15px;
}

.right {
    text-align: right;
}

.down {
    padding-top: 30px;
}

.less {
    padding-top: 25px;
}

.inthemiddle {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

/* PLACEHOLDER CSS */

.neg-padding {
    padding: -50px;
}

.grade {
    font-size: 70px;
}

.infected {
    font-size: 50px;
}

/* .chart {
    background: #fff;
    margin: 5px;
  } */

/* GOOGLE CHARTS */
#series_chart_div {
    width: 700px; 
    height: 400px;
}

#donutchart {
    width: 800px;
    height:350px;
}
 
