<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="../static/images/covid.gif">
  <title>COVID19</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- IMPORT PLOTLY -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- D3 Import -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  <!-- JS for grabbing all data -->\
  <script type="text/javascript" src="../static/js/app-dataGrab.js"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="../index.html"><img src="../static/images/covid19.gif" width="100" height="29" class="d-inline-block align-top" alt="">    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></a>      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" id="left-padding" href="../index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Explore
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="USA.html">USA</a>
            <a class="dropdown-item" href="#">By State</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="overview.html">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="team.html">Team</a>
      </li>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-1 center right less"><h3>State:</h3></div>
    <div class="col-md-1">
      <div class="well center down">
        <select id="selDataset"></select> <!-- onchange="optionChanged(this.value)" -->
      </div>
    </div>
        <!-- INPUT LINE GRAPH VIA PLOTLY -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="covidLine"></div>
      </div>  
    </div>
  </div>

</div>

<!-- STATE SPECIFIC NUMBERS START -->

<div class="container">
  <div class="row">
    <div class="col-md-2"></div> <!-- SPACER -->
    
    <!-- <div class="col-md-2">
      <h1><div id="dataGrade"></div></h1>
      <p><div id="dataQuality"></div></p>
    </div> -->

    <div class="col-md-2 infected-box white-text pad-box">
      <h1><div id="pctInfected"></div></h1>
      <p><div id="pctInfectedState"></div></p>
    </div>

    <div class="col-md-2 infected-box white-text pad-box">
      <h1><div id="stateAccount"></div></h1>
      <h1><div id="totalPct"></div></h1>
      <h6 class="text-center">OF TOTAL U.S. INFECTIONS<h6>
    </div>

    <div class="col-md-2 death-box white-text pad-box">
      <h1><div id="pctDeathToday"></div></h1>
      <p><div id="pctDeathState"></div></p>
    </div>

    <div class="col-md-2 death-box white-text pad-box">
      <h1><div id="stateAccountDead"></div></h1>
      <h1><div id="totalPctDead"></div></h1>
      <h6 class="text-center">OF TOTAL U.S. COVID-19 DEATHS<h6>
    </div>

  </div>
</div>


<!-- API key -->
<script type="text/javascript" src="../static/js/config.js"></script>

<!-- JS -->
<script type="text/javascript" src="../static/js/app-statecharts.js"></script>

<!-- <script type="text/javascript" src="/static/js/app-population.js"></script> -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
