<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/static/images/covid.gif">
  <title>COVID19</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/index.html"><img src="/static/images/covid19.gif" width="100" height="29" class="d-inline-block align-top" alt="">    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></a>      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" id="left-padding" href="/index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Explore
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="USA.html">USA</a>
            <a class="dropdown-item" href="bystate.html">By State</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="team.html">Team</a>
      </li>
    </div>
  </nav>

  <div class="container">
    <div class="row">
        <div class="col-12">
          <h3 id="title-resource">Project Overview</h3>
          <p class="thin-text">COVID-19 is an ongoing pandemic that affects the world in so many ways. The data behind this virus is important as it determines when and even how we move about the world. Etc, etc, etc. This COVID-19 dashboard is a way to keep the public informed of the total infectious population in the United States.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h3 id="title-resource"><br><br>Resources</h3>
            <h5 class="list-header">Data</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center"><a href="https://covidtracking.com/data/api" target="_blank">The Covid Tracking Project</a></li>
              <li class="list-group-item text-center"><a href="https://datausa.io/about/api/" target="_blank">Data USA | Population</a></li>
            </ul>
            
            <br><br><br>
            <h5 class="list-header">Templates</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center"><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
              <li class="list-group-item text-center"><a href="https://blog.risingstack.com/tutorial-d3-js-calendar-heatmap/" target="_blank">Rising Stack | Heatmap Calendar</a></li>
            </ul>
        </div>
    </div>
</div>

  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
