<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="../static/images/covid.gif">
  <title>COVID19</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="../index.html"><img src="../static/images/covid19.gif" width="100" height="29" class="d-inline-block align-top" alt="">    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></a>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" id="left-padding" href="../index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Explore
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="USA.html">USA</a>
            <a class="dropdown-item" href="bystate.html">By State</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="overview.html">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
      </li>
    </div>
  </nav>

<!-- BIO START -->

  <div class="container marketing">
    <div class="row">
      <div class="col-lg-6" id="bio">
        <img class="rounded-circle" alt="50x50" src="../static/images/EmilioBello.png" data-holder-rendered="true">
        <h2 id="bio-name">Emilio Bello</h2>
        <h5 id="bio-name">GitHub : <a href="https://github.com/emilbello" target="_blank">emilbello</a></h5>
        <p id="bio-info">I’m a highly motivated Materials Engineer with over ten years working in the paints & coatings industry for two major and interesting regions, South America and the Middle East. During this multicultural journey, I gradually discovered the impact and power of data and data visualization and how properly delivered information could change the business direction by deriving insights and explaining context and scenarios to define and execute the best-fit strategy. These experiences made me passionate about this subject and a data analytics and visualization enthusiast, enjoying each step of the process, from the data preparation to the final data truth-telling and storytelling.</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/emilio-bello-09938760/" target="_blank" role="button">MORE &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-6" id="bio">
        <img class="rounded-circle" alt="50x50" src="../static/images/MattMead.png" data-holder-rendered="true">
        <h2 id="bio-name">Matt Mead</h2>
        <h5 id="bio-name">GitHub : <a href="https://github.com/mmeadx" target="_blank">mmeadx</a></h5>
        <p id="bio-info">Data Analyst and <a href="http://www.mattmeadmpls.com">Content Creator</a> who strives to accurately tell stories in an interesting and easy to understand way. Bachelor’s degree from the University of Minnesota in Art and Mass Communications as well as a certificate in Data Analytics and Visualization. Coming from a nearly decade-long journey in the journalism field – winning two regional Emmy awards and a Hearst Award, as well as being published worldwide – an extremely adaptive and fast learner that is highly motivated by wanting to know more. Skilled in Python, JavaScript, HTML and SQL - has unique data visualization skills with a background in design and photography. Excited by gathering facts from data and presenting them in a way everyone can understand. </p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/mattmeadmpls/" target="_blank" role="button">MORE &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<div class="container marketing">
  <div class="row">
    <div class="col-lg-3"></div> <!-- SPACER -->
    <div class="col-lg-6" id="bio">
      <img class="rounded-circle" alt="50x50" src="../static/images/AllanHunt.png" data-holder-rendered="true">
      <h2 id="bio-name">Allan Hunt</h2>
      <h5 id="bio-name">GitHub : <a href="https://github.com/arhunt" target="_blank">arhunt</a></h5>
      <p id="bio-info">I'm an expressive introvert, a collector and interpreter of information, and a purposeful collaborator. I was born in Texas, actually enjoy Minnesota winters, love learning languages, and follow the Eurovision Song Contest. <br><br> I support a transaction processing business through driving assessments and ongoing technology upgrade projects, analyzing changes to data security policies and standards, and consulting with management and employees on securing their everyday work.</p>
      <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/allanrhunt/" target="_blank" role="button">MORE &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3"></div> <!-- SPACER -->

<!-- BIO END -->

  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
